################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InterviewPrep/v16/Server/sqlite3/db.lock
.vs/
UnitTests/obj/project.assets.json
UnitTests/obj/UnitTests.csproj.nuget.g.props
UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
UnitTests/obj/UnitTests.csproj.nuget.cache
UnitTests/obj/Debug/netcoreapp3.0/UnitTests.csprojAssemblyReference.cache
UnitTests/obj/Debug/netcoreapp3.0/UnitTests.assets.cache
Console/obj/project.assets.json
Console/obj/Debug/netcoreapp3.0/Console.csprojAssemblyReference.cache
Console/obj/Debug/netcoreapp3.0/Console.assets.cache
Console/obj/Console.csproj.nuget.g.props
Console/obj/Console.csproj.nuget.dgspec.json
Console/obj/Console.csproj.nuget.cache
UnitTests/obj/Debug/netcoreapp3.0/UnitTests.pdb
UnitTests/obj/Debug/netcoreapp3.0/UnitTests.dll
UnitTests/obj/Debug/netcoreapp3.0/UnitTests.csproj.FileListAbsolute.txt
UnitTests/bin/Debug/netcoreapp3.0/nunit_random_seed.tmp
UnitTests/bin/Debug/netcoreapp3.0/UnitTests.runtimeconfig.dev.json
UnitTests/bin/Debug/netcoreapp3.0/UnitTests.pdb
UnitTests/bin/Debug/netcoreapp3.0/UnitTests.dll
UnitTests/bin/Debug/netcoreapp3.0/UnitTests.deps.json
UnitTests/bin/Debug/netcoreapp3.0/Console.pdb
UnitTests/bin/Debug/netcoreapp3.0/Console.dll
Console/obj/Debug/netcoreapp3.0/Console.pdb
Console/obj/Debug/netcoreapp3.0/Console.dll
Console/obj/Debug/netcoreapp3.0/Console.csproj.FileListAbsolute.txt
Console/bin/Debug/netcoreapp3.0/Console.runtimeconfig.dev.json
Console/bin/Debug/netcoreapp3.0/Console.pdb
Console/bin/Debug/netcoreapp3.0/Console.dll
